@{
    ViewBag.Title = "AddAdmonishTalk";
    Layout = "~/Views/_LayoutPage1.cshtml";     
}

 
<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb panel">
            <li><a href="/EnterFile/Index"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">科级干部接受诫勉谈话情况登记表</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                          【@Session["realname"]】接受诫勉谈话情况登记表</header>
						  
                        <div class="panel-body">
                        <form class="form-horizontal" role="form" action="/EnterFile/_AddAdmonishTalk" method="post">
						<div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">被谈话人姓名</label>
                                <div class="col-lg-4">
                                  <input type="" class="form-control" id="input1" placeholder="" name="bename">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								 <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">工作单位</label>
                                <div class="col-lg-4">
                                 <input type="" class="form-control" id="input1" placeholder="" name="beunit">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								  <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">职务</label>
                                <div class="col-lg-4">
                                     <input type="" class="form-control" id="input1" placeholder="" name="bepost">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								  <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">诫勉谈话主要原因</label>
                                <div class="col-lg-4">
                                     <textarea rows="6" class="form-control" name="reason"></textarea>
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								  <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">谈话人姓名</label>
                                <div class="col-lg-4">
                                     <input type="" class="form-control" id="input1" placeholder="" name="name">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								
								 <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">职务</label>
                                <div class="col-lg-4">
                                  <input type="" class="form-control" id="input1" placeholder="" name="post">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								 <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">谈话时间</label>
                                <div class="col-lg-4">
                                 <input type="" class="form-control laydate-icon" id="time" placeholder="" name="time">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								  <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">谈话地点</label>
                                <div class="col-lg-4">
                                     <input type="" class="form-control" id="input1" placeholder="" name="address">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								
								 <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">主要谈话内容</label>
                                <div class="col-lg-4">
                                  <textarea rows="6" class="form-control" name="content"></textarea>
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								 <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">谈话对象意见</label>
                                <div class="col-lg-4">
                                  <textarea rows="6" class="form-control" name="objectadvice"></textarea>
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								  <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">谈话人意见</label>
                                <div class="col-lg-4">
                                     <textarea rows="6" class="form-control" name="advice"></textarea>
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
								   <div class="form-group">
                                <label for="input1" class="col-lg-3 col-sm-2 control-label">备注</label>
                                <div class="col-lg-4">
                                    <textarea rows="6" class="form-control" name="remark"></textarea>
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
								 </div>
							
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-10">
                                    <button type="submit" class="btn btn-primary">保存</button>
									<button class="btn btn-default" type="button" onclick="window.history.go(-1);">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </section>
					
                </div>
</div>

@*</div>*@


<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<script src="~/Content/myjs/datepicker/WdatePicker.js"></script>
<script src="~/Content/myjs/datepicker/calendar.js"></script>

<script src="~/Content/laydate/laydate.js"></script>

<script>

    $(function () {
         
        //保存
        $("#savebtn").click(function () {

            if ($("#name").val() == null || $("#name").val() == "") {
                alert("请填写姓名！");

                return;
            }
            else if ($("#sex").val() == null || $("#sex").val() == "") {
                alert("请填写性别！");

                return;
            }
            else if ($("#native").val() == null || $("#native").val() == "") {
                alert("请填写籍贯！");

                return;
            }
            else if ($("#Path").val() == null || $("#Path").val() == "") {
                alert("请上传照片！");

                return;
            }
             
            else {
                $.post("/EnterFile/_AddBaseInfo1", {

                    "u.RealName": $("#name").val(),
                    "u.Sex": $("#sex").val(),
                    "u.NativePlace": $("#native").val(),
                    "u.Photo": $("#Path").val(),
                    "u.Birthday": $("#birthday").val(),
                    "u.IdCardNum": $("#idcard").val(),
                    "u.Outlook": $("#outlook").val(),
                    "u.PartyTime": $("#partytime").val(),
                    "u.Nation": $("#nation").val(),
                    "u.Property": $("#property").val(),
                    "u.JobTime": $("#jobtime").val(),
                    "u.Education": $("#education").val(),
                    "u.WorkUnit": $("#workunit").val(),
                    "u.Post": $("#post").val(),
                    "u.PostStatus": $("#poststatus").val(),
                    "u.PostTime": $("#posttime").val(),
                    "u.DoWork": $("#dowork").val(),
                    "u.UserAddress": $("#address").val(),
                    "u.Introduction": $("#introduction").val()
                }, function (data) {

                    if (data == "1") {
                        alert("保存成功！");
                        location.href = "/EnterFile/Index";
                    }
                    else {
                        alert("保存失败,请重试！");
                        location.reload();//刷新
                    }
                });

            }

          
        });

    });
    laydate({
        elem: '#time',
        event: 'focus'
    });

</script>

