<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/global.css" type="text/css"/>
<link rel="stylesheet" href="css/print.css" type="text/css"/>
<title>打印页面</title>
</head>
<body>
<div class="menu">
    <input type="button" value="打印" onclick="preview()" />
    <input type="button" value="关闭" onclick="javascript:window.close();" />
</div>
<div class="print_bd lin_h45">
  <h1 class="font_2 t_center padd_t40" >科级干部配偶、子女及其配偶从业变更情况报告表</h1>
  <div class="font_4"><span class="font_4sm fr">表四－7</span>填表单位（章）：</div>
  <table class="tab_b01 font_4sm lin_h24 tb_h48" >
    <tr >
      <td class="t01" width="15%" >姓  名 </td>
      <td width="18%">&nbsp;</td>
      <td class="t01" width="15%" >单  位 </td>
      <td width="22%">&nbsp;</td>
      <td class="t01" width="15%" >职 务 </td>
      <td width="15%">&nbsp;</td>
    </tr>
    <tr >
      <td class="t01" rowspan="7" >配偶、子女及其配偶从业变更情况 </td>
      <td class="t01">从业变更人员 </td>
      <td colspan="4" class="h90">&nbsp;</td>
    </tr>
    <tr >
      <td class="t01">与填表人关系 </td>
      <td colspan="4" class="h90">&nbsp;</td>
    </tr>
    <tr >
      <td class="t01">从业变更时间 </td>
      <td colspan="4" class="h90">&nbsp;</td>
    </tr>
    <tr >
      <td class="t01">变更前工作 <br />
        单位及职务 </td>
      <td colspan="4" class="h90">&nbsp;</td>
    </tr>
    <tr >
      <td class="t01">变更后工作 <br />
        单位及职务 </td>
      <td colspan="4" class="h90">&nbsp;</td>
    </tr>
    <tr >
      <td class="t01">变更原因 </td>
      <td colspan="4" class="h90">&nbsp;</td>
    </tr>
    <tr >
      <td class="t01">备  注 </td>
      <td colspan="4" class="h90">&nbsp;</td>
    </tr>
  </table>
  <div class="font_4">填表人签名：<u>　　　　　　　　　&nbsp;</u><span class="fr font_4">填表时间：<u>　　　　</u>年<u>　　</u>月<u>　　</u>日</span></div>
  <div class="font_5 lin_h24">说明：填写从2010年1月以后发生变更的情况。</div>
</div>
</body>
</html>
