@{
    ViewBag.Title = "NoStart";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="~/Content/image/png">

  <title>本年度廉政档案建档工作尚未开始</title>

  <link href="~/Content/css/style.css" rel="stylesheet">
  <link href="~/Content/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="error-page">

<section>
    <div class="container ">

        <section class="error-wrapper text-center">
            
            <h1><img alt="" src="~/Content/images/notice.png"></h1>
            <h2>系统提示</h2>
            <h3>本年度廉政档案建档工作尚未开始</h3>
            <p class="nrml-txt">具体请咨询机关党委综合科</p>
            <a class="back-btn" href="/Home/Login">返回登录页</a>
        </section>

    </div>
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/modernizr.min.js"></script>


<!--common scripts for all pages-->
<!--<script src="js/scripts.js"></script>-->

</body>
</html>
